* {
  box-sizing: border-box;
}

body {
  overflow: unset;
  font-size: 0.7em;
  background-color: #f1efed;
  cursor: url('/cursor.svg'), auto;
  overflow-y: scroll;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Gilroy, NAMU, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

@media (min-width: 1200px) {
  body {
    font-size: 0.75em;
  }
}