.cujLIh {
  width: 100%;
  height: 26.4vw;
  position: relative;
  overflow: hidden;
}

.cIASgz {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  min-height: 100vh;
  margin: 0px auto;
  padding: 0px clamp(51px, 0px + 3.54167vw, 68px);
  overflow: hidden;
  font-family: NAMU, sans-serif;
}

.cIASgz.hero-text {
  position: absolute;
  z-index: 10;
}

.ibmhWt {
  margin: clamp(45px, 0px + 3.125vw, 60px) 0px 0px;
  padding: 0px;
  color: rgb(241, 239, 237);
  font-family: NAMU, sans-serif;
  font-size: 6.66em;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  text-transform: uppercase;
  animation: 1s ease-in 0s 1 normal none running cJoqxJ;
}
@media (min-width: 1440px) and (max-width: 1920px) {
  .ibmhWt {
    font-size: clamp(80px, 20px + 4.16667vw, 100px);
  }
}
.dQQHxL {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-image: linear-gradient(
    0deg,
    rgba(180, 149, 127, 0.17) 0%,
    rgba(180, 149, 127, 0.17) 100%
  );
}
.cujLIh video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: right center;
  transform: scale(1.2) translateY(-30px);
}
.hAvsVq {
  display: flex;
  margin-top: clamp(45px, 0px + 3.125vw, 60px);
  gap: 66px;
}
@media (min-width: 1440px) and (max-width: 1920px) {
  .hAvsVq {
    gap: clamp(66px, 0px + 4.58333vw, 88px);
  }
}
.ivqmRW {
  width: 46.12%;
}
.gRFtLA {
  font-size: 3.33em;
  line-height: 48px;
  font-weight: 900;
  margin-bottom: 22px;
  text-transform: uppercase;
}
@media (min-width: 1440px) and (max-width: 1920px) {
  .gRFtLA {
    font-size: clamp(40px, 4px + 2.5vw, 52px);
    line-height: clamp(48px, 6px + 2.91667vw, 62px);
    margin-bottom: clamp(22px, 1px + 1.45833vw, 29px);
  }
}
.kISShg {
  margin-right: 0px;
  font-size: 1.5em;
  line-height: 160%;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: clamp(10px, 1px + 0.625vw, 13px);
}
.kISShg p {
  margin: 0px;
}
.ivqmRW {
  width: 46.12%;
}
.cwzcUN {
  box-sizing: border-box;
  margin-top: clamp(120px, -18px + 9.58333vw, 166px);
  padding: 0px 80px;
  height: 234px;
  width: 100vw;
  margin-left: calc(-1 * clamp(51px, 0px + 3.54167vw, 68px));
  background-color: rgba(143, 142, 147, 0.15);
  display: flex;
  justify-content: space-around;
  -webkit-box-align: center;
  align-items: center;
  flex-wrap: wrap;
}
@media (max-width: 1800px) {
  .cwzcUN {
    height: 174px;
    align-items: flex-start;
  }
}
@media (min-width: 1200px) {
  .cwzcUN {
    align-items: normal;
  }
}
@media (min-width: 1440px) and (max-width: 1920px) {
  .cwzcUN {
    align-items: normal;
    padding-top: 0px;
    height: clamp(174px, 0px + 12.0833vw, 232px);
  }
}
.jEjBHI {
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  margin: clamp(18px, 0px + 1.25vw, 24px) 0px 0px;
  gap: 4px;
}
.cUryzv {
  font-weight: 900;
  font-size: clamp(80px, 20px + 4.16667vw, 100px);
  line-height: clamp(96px, 24px + 5vw, 120px);
  margin: 0px;
  letter-spacing: 0.05em;
  color: rgb(241, 239, 237);
  text-shadow: rgb(0, 0, 0) 7px 2.5px 0px;
  -webkit-text-stroke: 1.2px black;
}
.bvgHMu {
  font-weight: 900;
  font-size: 1.5em;
  line-height: normal;
  margin: 4px 0px 0px;
}
@media (min-width: 1440px) and (max-width: 1920px) {
  .bvgHMu {
    font-size: clamp(18px, 0px + 1.25vw, 24px);
    line-height: clamp(22px, 1px + 1.45833vw, 29px);
  }
}
.gsSGpF {
  margin: clamp(120px, 0px + 8.33333vw, 160px) 0px;
}
.hvzMFa {
  font-size: 3.33em;
  line-height: 48px;
  font-weight: 900;
  margin-bottom: 22px;
  text-transform: uppercase;
}
@media (min-width: 1440px) and (max-width: 1920px) {
  .hvzMFa {
    font-size: clamp(40px, 4px + 2.5vw, 52px);
    line-height: clamp(48px, 6px + 2.91667vw, 62px);
  }
}
.dwKUIG {
  list-style: none;
  margin: clamp(56px, -7px + 4.375vw, 77px) 0px 0px;
  padding: 0px;
  display: flex;
  justify-content: space-around;
  gap: 50px;
}
@media (min-width: 1440px) and (max-width: 1920px) {
  .dwKUIG {
    gap: clamp(69px, 0px + 4.79167vw, 92px);
    -webkit-box-pack: justify;
    justify-content: space-between;
  }
}
@media (max-width: 1800px) {
  .dwKUIG {
    -webkit-box-pack: justify;
    justify-content: space-between;
  }
}
.eKXXhf {
  width: 400px;
  display: flex;
  flex-direction: column;
  opacity: 0;
  transition: opacity 500ms ease-in 0s;
  gap: clamp(18px, 0px + 1.25vw, 24px);
}
@media (min-width: 1440px) and (max-width: 1920px) {
  .eKXXhf {
    width: auto;
  }
}
.eKXXhf.galleryVisible {
  opacity: 1;
}
.eKXXhf:nth-child(1) {
  transition-delay: 300ms;
}
.fnpVpg {
  position: relative;
  height: 380px;
}
@media (min-width: 1440px) and (max-width: 1920px) {
  .fnpVpg {
    height: clamp(380px, -1px + 26.4583vw, 507px);
    width: clamp(400px, 1px + 27.7083vw, 533px);
  }
}
.gsVDjP {
  position: absolute;
  top: clamp(18px, 0px + 1.25vw, 24px);
  right: clamp(18px, 0px + 1.25vw, 24px);
  height: clamp(32px, -1px + 2.29167vw, 43px);
  width: clamp(32px, -1px + 2.29167vw, 43px);
}
.gWEFVm {
  position: absolute;
  bottom: 0px;
  left: 0px;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  padding: clamp(8px, -1px + 0.625vw, 11px);
  width: 100%;
  font-size: clamp(24px, 0px + 1.66667vw, 32px);
  background-color: rgba(0, 0, 0, 0.45);
}
.fPNnQW {
  color: rgb(255, 255, 255);
  margin: 0px;
  line-height: 160%;
  text-transform: uppercase;
}
.hFDpMj {
  color: rgb(255, 255, 255);
  margin: 0px;
  line-height: 160%;
  text-transform: uppercase;
}
.kJxufM {
  margin: 0px;
  line-height: 160%;
  font-size: clamp(18px, 0px + 1.25vw, 24px);
}
.kJxufM p {
  margin: 0px;
}
.cPbhoD {
  position: relative;
  width: 100vw;
  margin-top: 120px;
  margin-left: calc(-1 * clamp(51px, 0px + 3.54167vw, 68px));
  background-color: rgba(143, 142, 147, 0.15);
}
.iaXytu {
  box-sizing: border-box;
  width: 100%;
  margin: 0px auto;
  padding: 0px clamp(51px, 0px + 3.54167vw, 68px);
  overflow: hidden;
  font-family: NAMU, sans-serif;
}
.dCvTLX {
  display: flex;
  margin: clamp(43px, 1px + 2.91667vw, 57px) 0px clamp(38px, 2px + 2.5vw, 50px);
  width: 100%;
  font-size: 3.33em;
  font-style: normal;
  font-weight: 900;
  line-height: 140%;
  text-transform: uppercase;
  max-width: 1800px;
}
@media (max-width: 1800px) {
  .dCvTLX {
    margin-top: 43px;
    margin-bottom: 38px;
  }
}
@media (min-width: 1440px) {
  .dCvTLX {
    font-size: clamp(40px, 4px + 2.5vw, 52px);
  }
}
.dCvTLX > p {
  display: inline-block;
  width: 100%;
  margin: 0px;
}
.iolyQu {
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  position: relative;
  height: 0.8em;
  vertical-align: middle;
  width: 14vw;
  margin: 0px;
}
@media (max-width: 1800px) {
  .iolyQu {
    width: 18vw;
  }
}
.fzOJbo {
  position: relative;
  overflow: hidden;
  display: inline-block;
  color: black;
  border: 1px solid black;
  padding-inline: 4px;
  cursor: pointer;
  vertical-align: top;
}
.ljowMh.transparentText {
  color: rgba(0, 0, 0, 0);
}
.fzOJbo .animatedTextBlock {
  position: absolute;
  top: 0px;
  left: 4px;
  transform: translateY(0px);
  transition: all 0.45s cubic-bezier(0.47, 1.64, 0.41, 0.8) 0.05s;
}
.bROsnt {
  display: inline-flex;
  -webkit-box-flex: 1;
  flex-grow: 1;
  -webkit-box-pack: center;
  justify-content: center;
  position: relative;
  width: clamp(415px, 145px + 14.0625vw, 500px);
  margin: 0px;
  height: 0.8em;
  vertical-align: middle;
}
@media (max-width: 1920px) {
  .bROsnt {
    width: clamp(390px, 315px + 5.20833vw, 415px);
  }
}
@media (max-width: 1800px) {
  .bROsnt {
    width: 25.5vw;
  }
}
.YTCOs {
  display: flex;
  margin-bottom: clamp(151px, 1px + 10.4167vw, 201px);
}
.ceyPTl {
  font-family: inherit;
  font-size: 1.5em;
  padding: 1.11em 1.5em;
  cursor: pointer;
  position: relative;
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
  line-height: 99%;
  display: inline-block;
  border: 2px solid rgb(0, 0, 0);
  transition: all 0.3s ease 0s;
  width: fit-content;
  white-space: nowrap;
}
.ceyPTl.about-us {
  text-transform: uppercase;
  font-size: clamp(22px, -2px + 1.66667vw, 30px);
  padding: clamp(18px, 4.5px + 0.9375vw, 22.5px)
    clamp(17px, 4.7px + 0.854167vw, 21.1px);
  margin-right: clamp(28px, 16px + 0.833333vw, 32px);
}
.eyTgtD {
  position: absolute;
  width: 30px;
  height: 30px;
  right: -12px;
  top: -12px;
  background-color: rgb(242, 234, 134);
  border: 1.7px solid rgb(0, 0, 0);
  border-radius: 50%;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  overflow: hidden;
}
.eyTgtD svg {
  width: 25px;
  height: 25px;
}
.ceyPTl path:nth-child(1) {
  transform: translate(-36px, 36px);
}
.fyjhWJ {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  width: fit-content;
  font-family: NAMU, sans-serif;
  z-index: 10;
  gap: clamp(14px, 2px + 0.833333vw, 18px);
}
.fyjhWJ.about-us {
  gap: clamp(14px, -40px + 3.75vw, 32px);
  margin-left: 0px;
}
.krVNqH {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  column-gap: 0.444em;
  color: rgb(0, 0, 0);
  font-size: 1.125em;
}
.krVNqH.about-us {
  font-size: clamp(18px, 0px + 1.25vw, 24px);
  gap: clamp(8px, 0.5px + 0.520833vw, 10.5px);
}
.iWBCGZ {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  position: relative;
  width: 22px;
  height: 22px;
  transition: filter 0.3s ease 0s;
  filter: brightness(0);
}
.byqtnE {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  column-gap: 0.444em;
  color: rgb(0, 0, 0);
  font-size: 1.125em;
  transition: color 0.3s ease 0s;
  margin-left: 0.778em;
}
.byqtnE.about-us {
  font-size: clamp(18px, 0px + 1.25vw, 24px);
  gap: clamp(8px, 0.5px + 0.520833vw, 10.5px);
  margin-left: 0px;
}
.zRNUR {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  transition: filter 0.3s ease 0s;
  filter: brightness(0);
  position: relative;
  width: 22px;
  height: 22px;
}
.glKKzP {
  position: absolute;
  bottom: calc(-1 * clamp(105px, -3px + 7.5vw, 141px));
  right: 60px;
  height: clamp(357px, 0px + 24.7917vw, 476px);
  width: clamp(376px, -2px + 26.25vw, 502px);
}
