.bnlwsS {
  position: fixed;
  right: 0px;
  top: 40%;
  display: flex;
  flex-direction: column;
  -webkit-box-align: end;
  align-items: end;
  -webkit-box-pack: center;
  justify-content: center;
  gap: 15px;
  z-index: 34;
}

.biEFTT {
  height: 220px;
}

.dKtcsR {
  height: 100%;
  display: flex;
  -webkit-box-pack: end;
  justify-content: flex-end;
  position: relative;
}

.fCmRMF {
  cursor: pointer;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  -webkit-writing-mode: vertical-rl;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  background-color: rgb(241, 239, 237);
  font-family: NAMU, sans-serif;
  line-height: 99%;
  border-top: 1.8px solid rgb(0, 0, 0);
  border-bottom: 1.8px solid rgb(0, 0, 0);
  border-left: 1.8px solid rgb(0, 0, 0);
  border-image: initial;
  border-right: none;
  border-radius: 1px;
  text-transform: uppercase;
  font-size: 22px;
  padding: 34px 15px;
  height: 100%;
  z-index: 2;
  position: relative;
  background-image: linear-gradient(
    rgb(137, 163, 209),
    rgb(199, 236, 192),
    rgb(137, 163, 209)
  );
  background-size: auto 400%;
  animation: 12s linear 0s infinite normal none running cTnKlS;
}

.fCmRMF::after {
  content: "";
  width: 60px;
  height: 5px;
  border: 1.8px solid rgb(0, 0, 0);
  border-radius: 1.5px;
  position: absolute;
  bottom: -8px;
  left: -5px;
  background: rgb(88, 105, 221);
  transform: skew(-45deg);
}

.bPyghv {
  font-size: 1.5em;
  width: 19.83em;
  height: 100%;
  padding: 1.625em 3.1875em 1.625em 1.3125em;
  line-height: 160%;
  font-family: NAMU, sans-serif;
  display: flex;
  flex-direction: column;
  -webkit-box-pack: justify;
  justify-content: space-between;
  background-color: rgb(241, 239, 237);
  position: absolute;
  top: 0px;
  left: 0px;
  transition: all 0.3s ease 0s;
  border-top: 1.8px solid rgb(0, 0, 0);
  border-radius: 1px;
}

.bPyghv::before {
  content: "";
  width: 5px;
  height: 216.5px;
  position: absolute;
  bottom: -2px;
  left: -7px;
  transition: all 0.2s ease 0s;
  border: 1.8px solid rgb(0, 0, 0);
  border-top-right-radius: 3px;
  border-bottom-left-radius: 1px;
  background-image: linear-gradient(
    rgb(137, 163, 209),
    rgb(199, 236, 192),
    rgb(137, 163, 209)
  );
  transform: skewY(-45deg);
  transform-origin: center top;
  background-size: auto 400%;
  animation: 12s linear 0s infinite normal none running cTnKlS;
}

.bPyghv::after {
  content: "";
  width: 359.5px;
  height: 5px;
  border: 1.8px solid rgb(0, 0, 0);
  border-radius: 1.5px;
  background: rgb(88, 105, 221);
  position: absolute;
  bottom: -6px;
  right: -2px;
  transform: skew(-45deg);
}

.kdnPvx {
  font-family: inherit;
  font-size: 1em;
  padding: 18px 17px;
  cursor: pointer;
  position: relative;
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
  line-height: 99%;
  display: inline-block;
  border: 2px solid rgb(0, 0, 0);
  transition: all 0.3s ease 0s;
  width: fit-content;
  white-space: nowrap;
}

.iJdzKr {
  position: absolute;
  width: 30px;
  height: 30px;
  right: -12px;
  top: -12px;
  background-color: rgb(242, 234, 134);
  border: 1.7px solid rgb(0, 0, 0);
  border-radius: 50%;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  overflow: hidden;
}

.isFTCM {
  position: relative;
  width: 57px;
}

@media (min-width: 769px) {
  .isFTCM {
    width: 53px;
  }
}

.keusef {
  position: absolute;
  bottom: -1rem;
  right: 6rem;
  width: 215px;
  padding: 0.75rem 0.625rem;
  font-family: NAMU;
  font-size: 0.875rem;
  line-height: 1.4;
  border-radius: 0.5rem;
  border: 1px solid rgb(0, 0, 0);
  box-shadow: rgb(0, 0, 0) 0.3rem 0.3rem 0rem 0rem;
  background-color: rgb(241, 239, 237);
}

.keusef::before {
  right: 0px;
  width: 1.25rem;
  height: 2rem;
  z-index: 1;
}

.keusef::after {
  right: -0.4rem;
  width: 1rem;
  height: 1rem;
  border: 1px solid rgb(0, 0, 0);
  box-shadow: rgb(0, 0, 0) 0.35rem 0rem 0rem 0rem;
  transform: translateY(-50%) rotate(25deg) skewX(-35deg);
}

.keusef::after,
.keusef::before {
  content: "";
  position: absolute;
  display: block;
  top: 35%;
  background-color: rgb(241, 239, 237);
  transform: translateY(-50%);
}

.jyRKPo {
  cursor: pointer;
  position: absolute;
  top: -0.675rem;
  left: -0.675rem;
  width: 1.35rem;
  height: 1.35rem;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 50%;
  background-color: rgb(241, 239, 237);
  background-image: url("/messageBubbleCloseIcon.99fbb793.svg");
  background-position: center center;
  background-repeat: no-repeat;
}

.iSJKhF {
  cursor: pointer;
  position: relative;
  display: block;
  width: 100%;
  height: 55px;
  -webkit-writing-mode: vertical-rl;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  font-size: 1.8333em;
  color: transparent;
  transform-origin: center top;
  animation-timeline: auto;
  animation-range-start: normal;
  animation-range-end: normal;
  padding: 0.8em 0.72em;
  border-width: 1.8px;
  border-style: solid none none;
  border-color: rgb(0, 0, 0);
  border-image: initial;
  border-right: none;
  border-bottom: none;
  border-left: none;
  border-radius: 1px;
  background: linear-gradient(
      rgb(137, 163, 209),
      rgb(199, 236, 192),
      rgb(137, 163, 209)
    )
    0% 0% / auto 400%;
  animation: 12s linear 0s infinite normal none running cTnKlS;
}

@media (max-width: 1800px) {
  .iSJKhF::before {
    left: -6px;
    height: 100%;
    border-top-right-radius: 2.5px;
  }

  .iSJKhF::after {
    width: 58px;
    right: -7.5px;
    bottom: -7.5px;
  }
}

.iSJKhF::after {
  border-right: none;
  right: -8px;
  bottom: -7px;
  width: 111.5%;
  height: 5px;
  background: rgb(88, 105, 221);
  transform: skew(-45deg);
}

.iSJKhF::before {
  top: 1px;
  left: -7px;
  width: 5px;
  height: 52.5px;
  transform: skewY(-45deg);
  background-image: linear-gradient(
    rgb(137, 163, 209),
    rgb(199, 236, 192),
    rgb(137, 163, 209)
  );
  transform-origin: center top;
  background-size: auto 400%;
  animation: 12s linear 0s infinite normal none running cTnKlS;
}

.iSJKhF::before,
.iSJKhF::after {
  content: "";
  position: absolute;
  border: 1.8px solid rgb(0, 0, 0);
  border-radius: 1.5px;
  background: rgb(199, 236, 192);
  transform-origin: center top;
}

@keyframes cTnKIS {
  100% {
    background-position: 0px 400%;
  }
}

.NZaJs {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: transparent;
  background-image: url("/chatOpenButtonIcon.81ef5b2c.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 35px 32px;
}

.iIdlki {
  position: absolute;
  top: 0.3rem;
  right: 0.3rem;
  width: 20px;
  height: 20px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-writing-mode: horizontal-tb;
  writing-mode: horizontal-tb;
  font-size: 12px;
  line-height: 150%;
  color: rgb(0, 0, 0);
  border-radius: 50%;
  border: 1px solid rgb(0, 0, 0);
  background-color: rgb(242, 234, 134);
}

.TESlj {
  position: absolute;
  right: 6em;
  bottom: 0px;
  width: 26vw;
  height: 37vw;
  z-index: 10000;
  display: flex;
  flex-direction: column;
  -webkit-box-pack: justify;
  justify-content: space-between;
  border-top: 1.8px solid rgb(0, 0, 0);
  border-right: 1.8px solid rgb(0, 0, 0);
  border-image: initial;
  border-bottom: none;
  border-left: none;
  opacity: 0;
  transform-origin: 100% 100%;
  transform: scale(0);
  background-color: rgb(241, 239, 237);
  transition: all 0.3s ease 0s;
}

@media (max-width: 1500px) {
  .TESlj {
    width: 369px;
    height: 533px;
  }
}

.TESlj::before,
.TESlj::after {
  content: "";
  position: absolute;
  border: 1.8px solid rgb(0, 0, 0);
  border-radius: 1.5px;
  background: rgb(88, 105, 221);
  transform: skew(-45deg);
  transform-origin: center top;
}

.TESlj::before {
  top: 2px;
  left: -7px;
  width: 5px;
  height: 99.5%;
  transform: skewY(-45deg);
  background: linear-gradient(rgb(199, 236, 192), rgb(137, 163, 209));
}

.TESlj::after {
  bottom: -6.5px;
  left: 0.5px;
  width: 99.7%;
  height: 5px;
}

.cFHzkG {
  padding: 10px 18px;
  line-height: 150%;
  border-bottom: 1.8px solid rgb(0, 0, 0);
  background: linear-gradient(90deg, rgb(199, 236, 192), rgb(137, 163, 209));
}

.cFHzkG p {
  margin: 0px;
}

.hyRhUI {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
}

.gyOuXf {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 12px;
  line-height: 150%;
  opacity: 0.5;
}

.kNGIkH {
  display: flex;
  flex-direction: column;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-flex: 1;
  flex-grow: 1;
  width: 100%;
  height: calc(100% - 40px);
  overflow: hidden;
  background-color: rgb(241, 239, 237);
}

.bfBiHQ {
  padding-right: calc(5px + 0.7rem);
  padding-left: 15px;
  height: 100%;
  -webkit-box-flex: 1;
  flex-grow: 1;
}

.isTDBj {
  display: flex;
  align-items: flex-start;
  gap: 0.5em;
  margin-bottom: 1.17em;
}

.isTDBj:nth-of-type(1) {
  padding-top: 19px;
}

.fjXosz {
  height: 39px;
  width: 39px;
  background-image: url("/chatOperatorAvatar.c24eff66.svg");
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}

.iTBzJe {
  width: 75%;
}

.gLTLlv {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
}

.isTDBj p {
  margin: 0px;
}

.gLTLlv:nth-of-type(1) {
  margin-bottom: 0.33em;
}

.gYbTdk {
  width: fit-content;
  max-width: 100%;
  padding: 0.67em;
  overflow-wrap: break-word;
  line-height: 19px;
  font-weight: 400;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  color: rgb(0, 0, 0);
  border-radius: 0px 6px 6px;
  background-color: rgb(221, 220, 219);
}

.gYbTdk:not(:last-of-type) {
  margin-bottom: 0.5em;
}

.gYbTdk {
  width: fit-content;
  max-width: 100%;
  padding: 0.67em em;
  overflow-wrap: break-word;
  line-height: 19px;
  font-weight: 400;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  color: rgb(0, 0, 0);
  border-radius: 0px 6px 6px;
  background-color: rgb(221, 220, 219);
}

.hMlokw {
  display: block;
  width: fit-content;
  padding-top: 0.33em;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
  color: rgb(143, 142, 147);
}

.dGJTyl {
  position: absolute;
  right: 6em;
  bottom: 0px;
  width: 26vw;
  height: 37vw;
  z-index: 10000;
  display: flex;
  flex-direction: column;
  -webkit-box-pack: justify;
  justify-content: space-between;
  border-top: 1.8px solid rgb(0, 0, 0);
  border-right: 1.8px solid rgb(0, 0, 0);
  border-image: initial;
  border-bottom: none;
  border-left: none;
  opacity: 0;
  transform-origin: 100% 100%;
  transform: scale(0);
  background-color: rgb(241, 239, 237);
  transition: all 0.3s ease 0s;
}

@media (max-width: 1500px) {
  .dGJTyl {
    width: 369px;
    height: 533px;
  }
}

.dGJTyl::before {
  top: 2px;
  left: -7px;
  width: 5px;
  height: 99.5%;
  transform: skewY(-45deg);
  background: linear-gradient(rgb(199, 236, 192), rgb(137, 163, 209));
}

.dGJTyl::before,
.dGJTyl::after {
  content: "";
  position: absolute;
  border: 1.8px solid rgb(0, 0, 0);
  border-radius: 1.5px;
  background: rgb(88, 105, 221);
  transform: skew(-45deg);
  transform-origin: center top;
}

.dGJTyl::after {
  bottom: -6.5px;
  left: 0.5px;
  width: 99.7%;
  height: 5px;
}

.gTEThr {
  height: 85px;
  width: 100%;
  padding: 20px 10px;
  background: rgba(143, 142, 147, 0.07);
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  gap: 5px;
  margin-bottom: 1px;
}

.bOqLKP {
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  gap: 5px;
}

.bOqLKP div {
  width: 100%;
}

.cRDTqv {
  height: 33px;
  width: 100%;
  border-radius: 16.5px;
  padding: 5px 13px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.83em;
  color: rgb(0, 0, 0);
  background: rgb(241, 239, 237);
  border: 1px solid rgb(209, 209, 214);
}

.gHxtmI {
  font-family: NAMU, sans-serif;
  color: rgb(248, 9, 9);
  font-size: 11px;
  position: absolute;
  margin: 1px 0px 0px;
}

.cLJVbt {
  display: block;
  width: 1.34em;
  height: 1.34em;
  padding: 0px;
  border: none;
  background-color: transparent;
  background-image: url("/removeAttachButton.64ad9145.svg");
  background-position: center center;
  background-repeat: no-repeat;
  cursor: pointer;
}

.emeAeM {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 1px solid rgb(0, 0, 0);
  background: rgb(242, 234, 134);
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  flex-shrink: 0;
}

.ePlPpE {
  width: 100%;
  margin: 0px auto;
  position: relative;
  padding-inline: 4.25em;
  overflow: hidden;
  font-family: NAMU, sans-serif;
}

.drIKdP {
  display: flex;
  margin-top: 24px;
  width: 100%;
}

.ljdDTv {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 119px;
}

.iwQmKi {
  font-size: 8.334em;
  letter-spacing: 5px;
  line-height: 132%;
  text-shadow: rgb(0, 0, 0) -0.5px -0.5px 0px, rgb(0, 0, 0) 0.5px -0.5px 0px,
    rgb(0, 0, 0) -0.5px 0.5px 0px, rgb(0, 0, 0) 0.5px 0.5px 0px;
  margin: 0px;
  white-space: nowrap;
}

.bXTPVP {
  text-transform: uppercase;
  font-size: 2.167em;
  line-height: 99%;
  display: flex;
  flex-direction: column;
  margin: 17px 0px 40px;
}

.bXTPVP.homePage {
  margin-top: 30px;
}

.bXTPVP.homePage p {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  margin: 0px;
}

@media (max-width: 2560px) {
  .bXTPVP.homePage {
    width: 23em;
  }
}

@media (max-width: 1800px) {
  .bXTPVP.homePage {
    width: 24em;
  }
}

.cUWUCn {
  position: relative;
  overflow: hidden;
  -webkit-box-flex: 1;
  flex-grow: 1;
  display: flex;
  height: 1em;
  background-color: rgb(241, 239, 237);
}

.bUKRQY {
  position: absolute;
  z-index: 1;
  left: 0px;
  top: 50%;
  transform: translateY(-50%);
  width: 1em;
  height: 1em;
  background-color: rgb(241, 239, 237);
}

.fJkMgE {
  position: absolute;
  width: 100%;
  z-index: 2;
  left: 2px;
  top: 50%;
  transform: translateY(-1.5px);
  height: 3px;
  background-color: black;
}

@media (max-width: 1500px) {
  .fJkMgE {
    transform: translateY(-1px);
    height: 2px;
  }
}

.bXTPVP.homePage p:nth-child(2) {
  margin-top: 5px;
}

.gkXHdM {
  position: absolute;
  z-index: 1;
  right: 0px;
  top: 53%;
  transform: translateY(-50%);
  width: 1em;
  height: 1em;
  background-color: rgb(241, 239, 237);
}

.bwbyxc {
  position: absolute;
  width: 100%;
  z-index: 2;
  right: 3px;
  top: 53%;
  transform: translateY(-1.5px);
  height: 2px;
  background-color: black;
}

@media (max-width: 1500px) {
  .bwbyxc {
    transform: translateY(-1px);
    height: 2px;
  }
}

.ebthCP {
  position: absolute;
  width: 33.7%;
  right: 122px;
  top: 24px;
}

.cRgugX {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.gsJwxA {
  font-family: inherit;
  font-size: 1.5em;
  padding: 1.11em 1.5em;
  cursor: pointer;
  position: relative;
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
  line-height: 99%;
  display: inline-block;
  border: 2px solid rgb(0, 0, 0);
  transition: all 0.3s ease 0s;
  width: fit-content;
  white-space: nowrap;
}

.gsJwxA.homePage {
  font-size: 1.835em;
  padding: 16px 15.4px;
  font-weight: 400;
}

.gsJwxA.scrolled {
  color: rgb(255, 255, 255);
  transition-delay: 0.8s;
  animation-timeline: auto;
  animation-range-start: normal;
  animation-range-end: normal;
  font-size: 1.835em;
  font-weight: 400;
  background: url(/_next/static/media/buttonHoverBg.eb606bc4.png) 0% 0% / 229px
    rgb(0, 0, 0);
  animation: 1s steps(8) 0s 1 normal forwards running cWmytL;
  padding: 16px 15.4px;
}

.gsJwxA.scrolled.removeBg {
  transition-delay: unset;
  background-image: none;
}

.bHZHvm {
  position: absolute;
  width: 30px;
  height: 30px;
  right: -12px;
  top: -12px;
  background-color: rgb(242, 234, 134);
  border: 1.7px solid rgb(0, 0, 0);
  border-radius: 50%;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  overflow: hidden;
}

.bCXcmA {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  width: fit-content;
  font-family: NAMU, sans-serif;
  z-index: 10;
  gap: clamp(14px, 2px + 0.833333vw, 18px);
}

.bCXcmA.homePage {
  gap: clamp(2px, -34px + 2.5vw, 22px);
  margin-left: 28px;
}

.iGkqfe {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  column-gap: 0.444em;
  color: rgb(0, 0, 0);
  font-size: 1.125em;
}

.iGkqfe.homePage,
.iGkqfe.webAudit,
.iGkqfe.mobileDev {
  font-size: 1.5em;
}

.idntcY {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  position: relative;
  width: 22px;
  height: 22px;
  transition: filter 0.3s ease 0s;
  filter: brightness(0);
}

.jaQBpp {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  column-gap: 0.444em;
  color: rgb(0, 0, 0);
  font-size: 1.125em;
  transition: color 0.3s ease 0s;
  margin-left: 0.778em;
}

.jaQBpp.homePage,
.jaQBpp.webAudit,
.jaQBpp.mobileDev {
  font-size: 1.5em;
}

.dryDLw {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  transition: filter 0.3s ease 0s;
  filter: brightness(0);
  position: relative;
  width: 22px;
  height: 22px;
}

.bElEPG {
  margin-top: 24.7em;
}

.ddSrcs {
  text-transform: uppercase;
  font-size: 5.14vw;
  letter-spacing: 0.05em;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  margin: 32px 0px 20px;
}

.ddSrcs.nextTech {
  line-height: 132%;
  height: 2.5em;
}

.ddSrcs.nextTech p {
  margin: 0px;
}

.ddSrcs u {
  text-decoration-thickness: 3px;
  text-underline-offset: 7px;
}

.ddSrcs span.blue {
  color: rgb(88, 105, 221);
  height: 5vw;
  white-space: nowrap;
}

.bAOhMT {
  margin-block: 115px 118px;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  min-height: 390px;
}

.eWHqKE {
  width: 100%;
  height: 434px;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
}

.homouV {
  position: relative;
  z-index: 3;
  margin-top: 5em;
  width: 35.4em;
  height: 32.5em;
}

.gDgisA {
  display: flex;
  margin-left: -6em;
}

.gDgisA.newScreen {
  animation: 0.2s linear 0s 1 normal none running cTKMzp;
}

.jHPqoW {
  width: 24.1em;
  height: 32.59em;
  position: relative;
}

.jHPqoW.addOpacity {
  opacity: 0.4;
}

.fRrwCe {
  width: 58em;
  height: 32.59em;
  position: relative;
  background: url(/screen.74898593.svg) 0% 0% / contain no-repeat transparent;
}

.fRrwCe.screenNew {
  position: relative;
  background: none;
}

.fRrwCe.screenNew::before {
  content: " ";
  display: block;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.5;
  background: url(/screenNew.44a7aaf5.svg) 0% 0% / contain no-repeat;
}

.igeZuF {
  width: 103%;
  height: 100%;
  text-align: start;
  animation: 0.4s ease 0s 1 normal none running ggdkuO;
  margin: 4.15em 3.35em;
  max-width: 660px;
}

@keyframes ggdkuO {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.kOmxxo {
  color: rgb(0, 0, 0);
  font-family: NAMU, sans-serif;
  font-size: 3.35em;
  font-style: normal;
  font-weight: 900;
  line-height: 140%;
  text-transform: uppercase;
  margin-bottom: 8px;
}

.dUSlLM {
  color: rgb(0, 0, 0);
  font-family: NAMU, sans-serif;
  font-size: 1.83em;
  font-style: normal;
  font-weight: 900;
  line-height: 160%;
  margin-bottom: 38px;
}

.HUcOd {
  position: absolute;
  margin-top: -30px;
  height: 105px;
  opacity: 1;
  transition: opacity 0.5s linear 0.5s;
}

.HUcOd.hide {
  opacity: 0;
}

.gsJwxA.homePageProject {
  left: 61px;
  bottom: -40px;
  opacity: 0;
  scale: 0.8;
  transition: left 0.2s linear 0.5s, opacity 0.1s linear 0.1s,
    scale 0.2s ease-in 0.2s, bottom 0.3s ease-in 0.1s;
}

.gsJwxA.projectorBtn {
  left: 0px;
  scale: 1;
  opacity: 1;
  bottom: 0px;
}

.ilaPBD {
  position: relative;
  user-select: none;
  font-family: NAMU, sans-serif;
  margin-bottom: 10.5em;
}

.dtNVgQ {
  font-family: NAMU, sans-serif;
  font-weight: 900;
  line-height: 140%;
  font-size: 3.35em;
  margin: 0px;
  padding-bottom: 20px;
  text-transform: uppercase;
}

.hqeQTU {
  font-family: NAMU, sans-serif;
  text-transform: uppercase;
  margin-left: -10%;
  width: 130%;
  display: flex;
  flex-direction: row;
  z-index: -5;
  height: clamp(56px, 33.0992px + 6.10687vw, 80px);
  -webkit-box-align: center;
  align-items: center;
  font-size: 2.5em;
  line-height: 140%;
  font-weight: 700 !important;
  overflow: hidden;
  white-space: nowrap;
  background: linear-gradient(
      90deg,
      rgb(199, 236, 192) 0%,
      rgb(137, 163, 209) 130.27%
    )
    0% 0% / cover;
}

@media (min-width: 769px) {
  .hqeQTU {
    display: none;
  }
}

.hqeQTU.bright-gradient {
  background: linear-gradient(
    15deg,
    rgb(214, 255, 187) 0%,
    rgb(88, 105, 221) 100%
  );
}

.rfm-marquee-container {
  overflow-x: hidden;
  display: flex;
  flex-direction: row;
  position: relative;
  width: var(--width);
  transform: var(--transform);
}

.rfm-marquee {
  flex: 0 0 auto;
  min-width: var(--min-width);
  z-index: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  animation: scroll var(--duration) linear var(--delay) var(--iteration-count);
  animation-play-state: var(--play);
  animation-delay: var(--delay);
  animation-direction: var(--direction);
}

.rfm-initial-child-container {
  flex: 0 0 auto;
  display: flex;
  min-width: auto;
  flex-direction: row;
  align-items: center;
}

.rfm-child {
  transform: var(--transform);
}

.eeeBr {
  position: absolute;
  left: 49%;
  top: calc(50% + 40px);
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  transform: translate(-50%, -50%);
  width: 75px;
  height: 75px;
}

.hwNuDO {
  margin-inline: 2.4em;
  display: grid;
  width: 96%;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px 267px;
}

.jSmuVf {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.dEeRlI {
  font-weight: 900;
  text-transform: uppercase;
  text-decoration: underline 2.5px rgb(0, 0, 0);
  text-underline-offset: 0.3em;
  font-size: 2.84em;
  text-align: center;
  position: relative;
  margin-bottom: 20px;
  z-index: 10;
}

.dLdNEi {
  transition: color 0.3s ease 0s;
}

.cajrAm {
  display: none;
}

.gOMqfI {
  margin-top: 0px;
  font-size: 1.5em;
  line-height: 160%;
  margin-bottom: 0.2em;
  width: 505px;
}

.gOMqfI.blockchain {
  max-width: 505px;
}

.izpCte {
  margin-top: calc(2.5em + 42px);
  position: absolute;
  z-index: 12;
  width: 42%;
  transition: all 0.2s ease-in 0s;
  opacity: 0;
}

.davcRd {
  width: 100%;
  height: 100%;
  cursor: default;
}

.igqoTq {
  width: 100%;
  height: auto;
  background: rgb(241, 239, 237);
  border: 2px solid rgb(0, 0, 0);
  position: relative;
}

.ggQSeC {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: -1;
  margin-top: 12px;
  margin-left: 12px;
  border: 2px solid black;
}

.kHnNCW {
  width: 100%;
  height: 50%;
}

.gqhejh {
  width: 100%;
  height: 50%;
  background: black;
  outline: black solid 1px;
}

.fIJOSe {
  padding-right: 20px;
  padding-bottom: 30px;
  font-size: 1.4em;
  display: grid;
  column-gap: 30px;
}

.fIJOSe.rows {
  grid-template-columns: repeat(2, 1fr);
}

.gfrWNW {
  list-style-type: none;
}

.gfrWNW::before {
  content: "■";
  font-size: 1.7em;
  margin-right: 0.3em;
}

.beUAXz {
  max-width: 98.9%;
  width: 100%;
  height: 23.5vw;
  position: relative;
}

.iCITFW {
  font-weight: 900;
  text-transform: uppercase;
  text-decoration: underline 2.5px rgb(0, 0, 0);
  text-underline-offset: 0.3em;
  font-size: 2.84em;
  text-align: center;
  position: relative;
  margin-bottom: 20px;
  z-index: 10;
}

.hKYhIY {
  font-weight: 900;
  text-transform: uppercase;
  text-decoration: underline 2.5px rgb(0, 0, 0);
  text-underline-offset: 0.3em;
  font-size: 2.84em;
  text-align: center;
  position: relative;
  margin-bottom: 20px;
  z-index: 10;
}

.iWhhda {
  font-weight: 900;
  text-transform: uppercase;
  text-decoration: underline 2.5px rgb(0, 0, 0);
  text-underline-offset: 0.3em;
  font-size: 2.84em;
  text-align: center;
  position: relative;
  margin-bottom: 20px;
  z-index: 10;
}

.jxZfBM {
  font-family: NAMU, sans-serif;
  font-weight: 900;
  line-height: 140%;
  font-size: 3.35em;
  margin: 0px;
  text-transform: uppercase;
}

.dwymEG {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 50px;
}

.UHcUb {
  position: relative;
  display: flex;
  flex-direction: column;
}

.jRAEdy {
  text-transform: uppercase;
  font-size: 5.68em;
  display: flex;
  align-items: flex-end;
}

.eZzmSi {
  font-family: NAMU, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 150px;
  line-height: 150px;
  margin: 0px 25px 0px 0px;
  color: rgb(241, 239, 237);
  -webkit-text-stroke: 2px rgb(0, 0, 0);
  filter: drop-shadow(rgb(0, 0, 0) 7px 2px 0px);
}

.eZzmSi.scrolled {
  background: linear-gradient(
      90deg,
      rgb(137, 163, 209) 20%,
      rgb(199, 236, 192) 100%
    )
    text;
  filter: drop-shadow(rgb(0, 0, 0) 7px 2px 0px);
  -webkit-text-fill-color: transparent;
}

.hmUFtc {
  line-height: 110%;
}

.bnntbY {
  line-height: 160%;
  margin-top: 10px;
  font-weight: 900;
  max-width: 595px;
  font-size: 1.83em;
  display: inline-block;
}

.UHcUb:nth-child(2) {
  margin-top: -4em;
}

.UHcUb:nth-child(2n) {
  top: -1em;
  justify-self: flex-end;
}

.UHcUb img {
  position: absolute;
}

.UHcUb:nth-child(2) img {
  top: -80%;
  right: 60%;
}

.UHcUb:nth-child(3) {
  margin-top: -4em;
}

.UHcUb:nth-child(3) img {
  top: -55%;
  left: 30%;
}

.UHcUb:nth-child(2n) {
  top: -1em;
  justify-self: flex-end;
}

.UHcUb:nth-child(4) img {
  top: -105%;
  right: 40%;
}

.UHcUb:nth-child(4) div {
  margin-top: 10px;
}

.jPyO {
  position: relative;
}

.iNeZeX {
  text-transform: uppercase;
  font-size: 5.14vw;
  letter-spacing: 0.05em;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  margin: 32px 0px 20px;
}

.iNeZeX.foooter {
  margin-top: 120px;
  margin-bottom: 14px;
}

.iNeZeX.foooter p {
  margin: 0px;
}

.iNeZeX span.tech {
  display: inline-block;
  width: 29.305vw;
  height: 5.5vw;
}

.iNeZeX span.blue {
  color: rgb(88, 105, 221);
  height: 5vw;
  white-space: nowrap;
}

.iHkrYW {
  margin-bottom: 162px;
}

.ciDEfd {
  display: flex;
  -webkit-box-pack: start;
  justify-content: flex-start;
  margin-right: 28px;
}

.ciDEfd.btn {
  margin-top: 2.5rem;
  margin-left: 0px;
}

.ceyPTl {
  font-family: inherit;
  font-size: 1.5em;
  padding: 1.11em 1.5em;
  cursor: pointer;
  position: relative;
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
  line-height: 99%;
  display: inline-block;
  border: 2px solid rgb(0, 0, 0);
  transition: all 0.3s ease 0s;
  width: fit-content;
  white-space: nowrap;
}

.ceyPTl.homePage {
  font-size: 1.835em;
  padding: 16px 15.4px;
  font-weight: 400;
}

.eyTgtD {
  position: absolute;
  width: 30px;
  height: 30px;
  right: -12px;
  top: -12px;
  background-color: rgb(242, 234, 134);
  border: 1.7px solid rgb(0, 0, 0);
  border-radius: 50%;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  overflow: hidden;
}

.eyTgtD svg {
  width: 25px;
  height: 25px;
}

.fyjhWJ {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  width: fit-content;
  font-family: NAMU, sans-serif;
  z-index: 10;
  gap: clamp(14px, 2px + 0.833333vw, 18px);
}

.fyjhWJ.homePage {
  gap: clamp(2px, -34px + 2.5vw, 22px);
  margin-left: 28px;
}

.krVNqH.homePage,
.krVNqH.webAudit,
.krVNqH.mobileDev {
  font-size: 1.5em;
}

.krVNqH {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  column-gap: 0.444em;
  color: rgb(0, 0, 0);
  font-size: 1.125em;
}

.iWBCGZ {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  position: relative;
  width: 22px;
  height: 22px;
  transition: filter 0.3s ease 0s;
  filter: brightness(0);
}

.byqtnE.homePage,
.byqtnE.webAudit,
.byqtnE.mobileDev {
  font-size: 1.5em;
}

.byqtnE {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  column-gap: 0.444em;
  color: rgb(0, 0, 0);
  font-size: 1.125em;
  transition: color 0.3s ease 0s;
  margin-left: 0.778em;
}

.zRNUR {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  transition: filter 0.3s ease 0s;
  filter: brightness(0);
  position: relative;
  width: 22px;
  height: 22px;
}
