.navbarImageSpan {
  box-sizing: border-box;
  display: block;
  overflow: hidden;
  width: initial;
  height: initial;
  background: none;
  opacity: 1;
  border: 0;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.navbarImage {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  box-sizing: border-box;
  padding: 0;
  border: none;
  margin: auto;
  display: block;
  width: 0;
  height: 0;
  min-width: 100%;
  max-width: 100%;
  min-height: 100%;
  max-height: 100%;
  object-fit: contain;
  object-position: center;
}

.hYEXCu {
  padding-bottom: 56px;
}

@media (min-width: 1800px) {
  .hYEXCu {
    padding-bottom: 70px;
  }
}

@media (max-width: 768px) {
  .hYEXCu {
    padding-bottom: 156px;
  }
}

@media (max-width: 550px) {
  .hYEXCu {
    padding-bottom: 95px;
  }
}

@media (min-width: 769px) and (max-width: 1200px) {
  .hYEXCu {
    padding-bottom: 43px;
  }
}

@media print {
  .hYEXCu {
    display: none;
  }
}

data-styled.g31[id="sc-1c6e7200-0"] {
  content: "hYEXCu,";
}

.ccyimB {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: fixed;
  right: 0;
  top: -1px;
  z-index: 36;
  background-color: #f1efed;
  border-bottom: 1px solid #8f8e93;
}

@media (max-width: 768px) {
  .ccyimB {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    border: none;
  }
}

@supports (-webkit-hyphens: none) {
  @media (max-width: 768px) {
    .ccyimB {
      top: -1px;
    }
  }
}

data-styled.g32[id="sc-1c6e7200-1"] {
  content: "ccyimB,";
}

.koXNTb {
  padding-top: 1px;
}

@media (max-width: 768px) {
  .koXNTb {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    background-color: #f1efed;
    z-index: 36;
    padding: 57.5px 0;
  }
  .koXNTb.scrolled {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
}

@media (max-width: 550px) {
  .koXNTb {
    padding: 32px 0;
  }
}

data-styled.g33[id="sc-1c6e7200-2"] {
  content: "koXNTb,";
}

.gJUEHi {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-column-gap: 8px;
  column-gap: 8px;
  border-right: 1px solid #8f8e93;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  z-index: 36;
  height: 100%;
  padding: 0 49px 0 68px;
}

.gJUEHi:hover {
  border-right: 1.5px solid #000;
  border-bottom: 7px solid #000;
}

@media (max-width: 1600px) {
  .gJUEHi {
    padding: 0 36px 0 49px;
  }
}

@media (max-width: 768px) {
  .gJUEHi {
    padding: 0 0 0 40px;
    height: 52px;
    border: none;
  }
  .gJUEHi:hover {
    border: none;
  }
}

@media (max-width: 550px) {
  .gJUEHi {
    padding-left: 20px;
    height: 30px;
  }
}

data-styled.g34[id="sc-1c6e7200-3"] {
  content: "gJUEHi,";
}

.gmCnzC {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 132px;
  height: 42px;
}

@media (max-width: 1799px) {
  .gmCnzC {
    width: 126px;
    height: 32px;
  }
}

@media (max-width: 1200px) {
  .gmCnzC {
    width: 102px;
    height: 26px;
  }
}

@media (max-width: 768px) {
  .gmCnzC {
    width: 126px;
    height: 32px;
  }
}

.gmCnzC.calculator {
  width: 106px !important;
  height: 100% !important;
}

.gmCnzC.footer {
  width: 180px;
  height: 40px;
}

@media (max-width: 1799px) {
  .gmCnzC.footer {
    width: 126px;
    height: 32px;
  }
}

@media (max-width: 1280px) {
  .gmCnzC.footer {
    width: 102px;
    height: 26px;
  }
}

@media (max-width: 1110px) {
  .gmCnzC.footer {
    width: 89.7px;
    height: 23px;
  }
}

.gmCnzC.header {
  width: 166px;
  height: 42px;
}

@media (max-width: 1600px) {
  .gmCnzC.header {
    width: 128px;
    height: 38px;
  }
}

@media (min-width: 769px) and (max-width: 1200px) {
  .gmCnzC.header {
    width: 99px;
    height: 31.5px;
  }
}

@media (max-width: 768px) {
  .gmCnzC.header {
    width: 207px;
    height: 52px;
  }
}

@media (max-width: 550px) {
  .gmCnzC.header {
    width: 132px;
    height: 30px;
  }
}

data-styled.g1[id="sc-feb788d7-0"] {
  content: "gmCnzC,";
}

@media (max-width: 768px) {
  .bgQEYS.services.sc-c8e937f7-1.header {
    padding: 17.5px 18px;
  }
}

@media (max-width: 768px) {
  .iLGVvc.services.sc-c8e937f7-1.header {
    padding: 17.5px 18px;
  }
}

.erzWvU {
  position: relative;
  width: 100%;
  height: 100%;
}

data-styled.g2[id="sc-feb788d7-1"] {
  content: "erzWvU,";
}

.fXeVZC {
  margin: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 76px;
  padding-top: 1px;
  padding-left: 0;
}

@media (max-width: 1500px) {
  .fXeVZC.itSupport {
    margin-right: 0;
  }
  .fXeVZC.itSupport > a:nth-child(1) {
    padding: 0 43px 0 46px;
  }
}

@media (max-width: 1600px) {
  .fXeVZC {
    height: 57px;
  }
}

@media (max-width: 768px) {
  .fXeVZC {
    display: none;
  }
}

@media (max-width: 1500px) {
  .fXeVZC.mobileAudit > a:nth-child(1) {
    padding-left: 44px;
    padding-right: 44px;
  }
  .fXeVZC.mobileAudit > div:nth-child(2) button {
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media (min-width: 769px) and (max-width: 1200px) {
  .fXeVZC {
    height: 43px;
  }
}

data-styled.g36[id="sc-1c6e7200-5"] {
  content: "fXeVZC,";
}

.IziRp {
  font-family: "NAMU", sans-serif;
  font-weight: 500;
  font-size: 1.3em;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 0 68px;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-left: 1px solid #8f8e93;
  cursor: pointer;
  -webkit-transition: 300ms;
  transition: 300ms;
}

@media (min-width: 769px) and (max-width: 992px) {
  .IziRp {
    font-size: 1.3em;
    padding: 0.5rem 2.5rem;
  }
}

@media (max-width: 768px) {
  .IziRp {
    display: none;
  }
}

@media (max-width: 1500px) {
  .IziRp.itSupport {
    padding: 0 36px 0 67px;
  }
}

@media (min-width: 769px) and (max-width: 830px) {
  .IziRp {
    width: 11.15vw;
  }
}

@media (min-width: 1800px) {
  .IziRp {
    padding: 23px 68px;
    font-size: 20px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
}

@media (max-width: 1600px) {
  .IziRp {
    padding: 0px 50px;
    font-size: 16px;
  }
}

@media (max-width: 1200px) {
  .IziRp {
    padding: 0px 35px;
  }
}

@media (max-width: 992px) {
  .IziRp {
    padding: 0px 28px;
  }
}

.IziRp:hover {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border-right: 1.5px solid #000;
  border-bottom: 7px solid #000;
}

.IziRp.disabled {
  cursor: default;
  opacity: 0.5;
}

.IziRp.disabled:hover {
  border-right: 0;
  border-bottom: 0;
}

data-styled.g35[id="sc-1c6e7200-4"] {
  content: "IziRp,";
}

.eGMqUE {
  font-size: 20px;
}

@media (max-width: 1600px) {
  .eGMqUE {
    font-size: 16px;
  }
}

@media (min-width: 769px) and (max-width: 1200px) {
  .eGMqUE {
    font-size: 14px;
  }
}

data-styled.g37[id="sc-1c6e7200-6"] {
  content: "eGMqUE,";
}

.hHvuce {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  background-color: #f1efed;
}

data-styled.g5[id="sc-16b52c14-2"] {
  content: "hHvuce,";
}

.irvpsA {
  cursor: pointer;
  color: #000;
  background-color: #f1efed;
  box-sizing: border-box;
  font-family: "NAMU", sans-serif;
  font-size: 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-column-gap: 12px;
  column-gap: 12px;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-bottom: 0;
  border-right: 0;
  border-left: 1px solid #8f8e93 !important;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  padding: 0 68px;
}

.irvpsA button,
.irvpsA:first-child {
  border: none;
}

@media (max-width: 768px) {
  .irvpsA {
    display: none;
  }
}

@media (min-width: 769px) and (max-width: 992px) {
  .irvpsA {
    font-size: 1.3em;
  }
}

@media (max-width: 768px) {
  .irvpsA {
    display: none;
  }
}

.irvpsA:hover {
  border-right: 2px solid #000 !important;
  border-bottom: 7px solid #000 !important;
}

.irvpsA:hover .sc-16b52c14-1.open {
  border-bottom: 0 !important;
  border-right: 2px solid #000 !important;
}

.irvpsA.open {
  border-bottom: 0 !important;
  border-right: 0px solid #000 !important;
}

.irvpsA.open img {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.irvpsA.disabled {
  cursor: default;
}

.irvpsA.disabled:hover {
  border-right: 0;
  border-bottom: 0;
}

.irvpsA > img,
.irvpsA > span {
  vertical-align: middle;
}

.irvpsA img {
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  margin-top: 3px;
  width: 12px;
  height: 6.67px;
}

@media (max-width: 1600px) {
  .irvpsA {
    padding: 0 42px;
    -webkit-column-gap: 10px;
    column-gap: 10px;
    font-size: 16px;
  }
  .irvpsA > img {
    width: 9px;
    height: 5px;
  }
}

@media (max-width: 1200px) {
  .irvpsA {
    padding: 0px 27px;
  }
}

@media (max-width: 992px) {
  .irvpsA {
    padding: 0px 20px;
  }
}

@media (min-width: 769px) and (max-width: 1200px) {
  .irvpsA {
    font-size: 14px;
  }
}

data-styled.g4[id="sc-16b52c14-1"] {
  content: "irvpsA,";
}

.kgiRzq {
  position: absolute;
  background-color: #f1efed;
  min-width: 22.22vw;
  top: 100%;
  z-index: 3;
  right: 0px;
  border: 1px solid #000;
  border-right: 2.5px solid #000;
  border-bottom: 12px solid #000;
  display: none;
}

.kgiRzq.open {
  display: block;
}

.kgiRzq div {
  color: #000;
  font-family: "NAMU", sans-serif;
  font-size: 1em;
  border-bottom: 1px solid #8f8e93;
  -webkit-text-decoration: none;
  text-decoration: none;
  text-align: left;
  cursor: pointer;
}

.kgiRzq div:hover {
  background-color: #f8f7f5;
}

.kgiRzq div:last-child {
  border-bottom: 0;
}

.kgiRzq a {
  padding: 10px 16px;
}

data-styled.g3[id="sc-16b52c14-0"] {
  content: "kgiRzq,";
}

.iejRVt {
  display: block;
  width: 100%;
}

data-styled.g6[id="sc-16b52c14-3"] {
  content: "iejRVt,";
}

.elgnRm {
  background: #5869dd;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center !important;
  -webkit-box-align: center !important;
  -ms-flex-align: center !important;
  align-items: center !important;
  gap: 6px;
  padding: 4px 6px;
  margin-left: 8px;
  border-radius: 6px;
}

.elgnRm span {
  font-size: 14px;
  font-weight: 900;
  color: #fff;
  margin-bottom: 4px;
}

.elgnRm:hover {
  background: #5869dd !important;
}

data-styled.g7[id="sc-16b52c14-4"] {
  content: "elgnRm,";
}

.dnuOfe {
  display: none;
}

@media (max-width: 768px) {
  .dnuOfe {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    z-index: 36;
    padding-right: 40px;
  }
}

@media (max-width: 550px) {
  .dnuOfe {
    padding-right: 20px;
  }
}

data-styled.g18[id="sc-942ab72b-3"] {
  content: "dnuOfe,";
}

.cXoWrt {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: flex-end;
  -webkit-box-align: flex-end;
  -ms-flex-align: flex-end;
  align-items: flex-end;
  -webkit-box-pack: space-around;
  -webkit-justify-content: space-around;
  -ms-flex-pack: space-around;
  justify-content: space-around;
  height: 25px;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  z-index: 10;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
}

.cXoWrt:focus {
  outline: none;
}

@media (max-width: 550px) {
  .cXoWrt {
    height: 14px;
  }
}

.cXoWrt div {
  width: 64px;
  height: 3px;
  background: #0c1033;
  border-radius: 10px;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  position: relative;
  -webkit-transform-origin: 100% 50%;
  -ms-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
}

@media (max-width: 550px) {
  .cXoWrt div {
    width: 34px;
    height: 2.2px;
  }
}

.cXoWrt div:nth-child(2) {
  width: 41px;
}

@media (max-width: 550px) {
  .cXoWrt div:nth-child(2) {
    width: 23px;
  }
}

data-styled.g19[id="sc-942ab72b-4"] {
  content: "cXoWrt,";
}

.WvLWV {
  display: none;
}

@media (max-width: 768px) {
  .WvLWV {
    display: flex;
    flex-direction: column;
    gap: 90px;
    overflow-y: scroll;
    height: 100.1vh;
    width: 100%;
    position: absolute;
    right: 0px;
    top: 0px;
    transition: transform 0.3s ease-in 0s;
    padding: 140px 0px;
    background-color: rgb(241, 239, 237);
    z-index: 35;
  }
}

@media (max-width: 768px) {
  .WvLWV.hide {
    transform: translateX(100%);
  }
}

.dYutob {
  margin-top: 1.4375rem;
}

.gLYONc {
  border-collapse: separate;
  border-top: 1px solid rgb(205, 205, 205);
}

.gLYONc:last-child {
  border-bottom: 1px solid rgb(205, 205, 205);
}

.bqDyJy {
  cursor: pointer;
  margin: 0px;
  padding: 18px 40px;
  font-family: NAMU, sans-serif;
  font-weight: 900;
  font-size: 20px;
}

.fpxhRf {
  padding: 18px 40px;
  display: block;
}

.gHveg {
  display: flex;
  font-family: NAMU, sans-serif;
  font-weight: 900;
  font-size: 20px;
  transition: all 0.2s ease 0s;
}

.eFmkhy {
  width: 9px;
  height: 5px;
  margin-top: 0.6rem;
  margin-left: 0.75rem;
  transition: all 0.3s ease 0s;
}

.ctluyH {
  max-height: 0px;
  overflow: hidden;
  opacity: 0;
  margin: 0px;
  padding: 0px;
  transition: all 0.45s ease-in 0s;
}

.cHkinH {
  margin-top: 1.375rem;
  font-size: 0.875rem;
  font-family: NAMU, sans-serif;
  font-weight: 900;
  animation: 300ms ease-in 60ms 1 normal forwards running buJYSL;
  transition: all 0.3s ease 0s;
}

.iDWptz {
  margin-top: 1.375rem;
  font-size: 0.875rem;
  font-family: NAMU, sans-serif;
  font-weight: 900;
  animation: 300ms ease-in 300ms 1 normal forwards running buJYSL;
  transition: all 0.3s ease 0s;
}

.eDteL {
  margin-top: 1.375rem;
  font-size: 0.875rem;
  font-family: NAMU, sans-serif;
  font-weight: 900;
  animation: 300ms ease-in 360ms 1 normal forwards running buJYSL;
  transition: all 0.3s ease 0s;
}

.lesWWL {
  margin-top: 1.375rem;
  font-size: 0.875rem;
  font-family: NAMU, sans-serif;
  font-weight: 900;
  animation: 300ms ease-in 420ms 1 normal forwards running buJYSL;
  transition: all 0.3s ease 0s;
}

.dpLSZj {
  margin-top: 1.375rem;
  font-size: 0.875rem;
  font-family: NAMU, sans-serif;
  font-weight: 900;
  animation: 300ms ease-in 480ms 1 normal forwards running buJYSL;
  transition: all 0.3s ease 0s;
}

.dpLSZj:last-of-type {
  margin-bottom: 1.375rem;
}

@keyframes buJYSL {
  0% {
    opacity: 1;
    transform: translateY(0px);
  }
  100% {
    opacity: 0;
    transform: translateY(-30px);
  }
}

.byAPvr {
  margin-top: 1.375rem;
  font-size: 0.875rem;
  font-family: NAMU, sans-serif;
  font-weight: 900;
  animation: 300ms ease-in 0ms 1 normal forwards running buJYSL;
  transition: all 0.3s ease 0s;
}

.fhGlCf {
  margin-top: 1.375rem;
  font-size: 0.875rem;
  font-family: NAMU, sans-serif;
  font-weight: 900;
  animation: 300ms ease-in 120ms 1 normal forwards running buJYSL;
  transition: all 0.3s ease 0s;
}

.gsELwD {
  margin-top: 1.375rem;
  font-size: 0.875rem;
  font-family: NAMU, sans-serif;
  font-weight: 900;
  animation: 300ms ease-in 180ms 1 normal forwards running buJYSL;
  transition: all 0.3s ease 0s;
}

.gsELwD:last-of-type {
  margin-bottom: 1.375rem;
}

.bqDyJy {
  cursor: pointer;
  margin: 0px;
  padding: 18px 40px;
  font-family: NAMU, sans-serif;
  font-weight: 900;
  font-size: 20px;
}

.cfcCjD {
  width: 100%;
  padding: 0px 40px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.kPWwvP {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media (max-width: 474px) {
  .kPWwvP {
    gap: 16px;
  }
}
.gmmlDL {
  display: block;
  line-height: 188%;
  width: 100%;
  font-size: 20px;
  font-family: NAMU, sans-serif;
  font-weight: 900;
}
.dveASt {
  display: grid;
  grid-template-columns: 55px 55px 55px 55px;
  gap: 44px;
}

@media (max-width: 474px) {
  .dveASt {
    gap: 24px;
    grid-template-columns: 48px 48px 48px 48px;
  }
}

.dveASt > a:nth-child(1) {
  width: 48px;
}
.dveASt > a:nth-child(2) {
  width: 43px;
}
.dveASt > a:nth-child(3) {
  width: 34px;
}
.dveASt > a:nth-child(4) {
  width: 40px;
}
.dveASt > a:nth-child(5) {
  width: 56.4px;
}

@media (max-width: 474px) {
  .dveASt > a {
    width: 45px !important;
  }
}

@media (max-width: 474px) {
  .dveASt > a:nth-child(1) {
    width: 40px !important;
  }
}

.hmkZUQ {
  position: relative;
  height: 40px;
  object-fit: contain;
  width: 100%;
}

.cfcCjD > div:nth-child(3) {
  margin: 0px;
  gap: 14px !important;
}

.bHtvoe {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  width: fit-content;
  font-family: NAMU, sans-serif;
  z-index: 10;
  gap: clamp(14px, 2px + 0.833333vw, 18px);
}

@media (max-width: 768px) {
  .bHtvoe {
    margin-left: 1px;
  }
}

@media (max-width: 768px) {
  .bHtvoe.no-margin-top {
    margin-top: 0px;
  }
}

.bbplka {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  column-gap: 0.444em;
  color: rgb(0, 0, 0);
  font-size: 1.125em;
}

@media (max-width: 768px) {
  .bbplka {
    font-size: 16px;
    line-height: 19px;
    column-gap: 3px;
  }
}
.fnaqeE {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  position: relative;
  width: 22px;
  height: 22px;
  transition: filter 0.3s ease 0s;
  filter: brightness(0);
}

@media (max-width: 768px) {
  .fnaqeE {
    width: clamp(15px, 8.32061px + 1.78117vw, 22px);
    height: clamp(14px, 6.36641px + 2.03562vw, 22px);
  }
}

.eQaJuB {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  column-gap: 0.444em;
  color: rgb(0, 0, 0);
  font-size: 1.125em;
  transition: color 0.3s ease 0s;
  margin-left: 0.778em;
}

@media (max-width: 768px) {
  .eQaJuB {
    font-size: 16px;
    line-height: 19px;
    column-gap: 3px;
    margin-left: 0.875em;
  }
}

.gaMrCo {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  transition: filter 0.3s ease 0s;
  filter: brightness(0);
  position: relative;
  width: 22px;
  height: 22px;
}

@media (max-width: 768px) {
  .gaMrCo {
    width: clamp(15px, 8.32061px + 1.78117vw, 22px);
    height: clamp(14px, 6.36641px + 2.03562vw, 22px);
  }
}

.cQMWFn {
  margin-top: 14px;
}

.ggYDPI {
  color: rgb(143, 142, 147);
  font-size: 20px;
  font-family: NAMU, sans-serif;
  cursor: pointer;
}

.cAXqOE {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  height: 25px;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0px;
  z-index: 10;
  transition: all 0.3s linear 0s;
  transform: rotate(90deg);
}

.cAXqOE:focus {
  outline: none;
}

.cAXqOE div {
  width: 64px;
  height: 3px;
  background: rgb(13, 12, 29);
  border-radius: 10px;
  transition: all 0.3s linear 0s;
  position: relative;
  transform-origin: 100% 50%;
}

@media (max-width: 550px) {
  .cAXqOE div {
    width: 34px;
    height: 2.2px;
  }
}

@media (max-width: 550px) {
  .cAXqOE {
    height: 14px;
  }
}
