.gmCnzC {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 132px;
  height: 42px;
}
@media (max-width: 1799px) {
  .gmCnzC {
    width: 126px;
    height: 32px;
  }
}
@media (max-width: 1200px) {
  .gmCnzC {
    width: 102px;
    height: 26px;
  }
}
@media (max-width: 768px) {
  .gmCnzC {
    width: 126px;
    height: 32px;
  }
}
.gmCnzC.calculator {
  width: 106px !important;
  height: 100% !important;
}
.gmCnzC.footer {
  width: 180px;
  height: 40px;
}
@media (max-width: 1799px) {
  .gmCnzC.footer {
    width: 126px;
    height: 32px;
  }
}
@media (max-width: 1280px) {
  .gmCnzC.footer {
    width: 102px;
    height: 26px;
  }
}
@media (max-width: 1110px) {
  .gmCnzC.footer {
    width: 89.7px;
    height: 23px;
  }
}
.gmCnzC.header {
  width: 166px;
  height: 42px;
}
@media (max-width: 1600px) {
  .gmCnzC.header {
    width: 128px;
    height: 38px;
  }
}
@media (min-width: 769px) and (max-width: 1200px) {
  .gmCnzC.header {
    width: 99px;
    height: 31.5px;
  }
}
@media (max-width: 768px) {
  .gmCnzC.header {
    width: 207px;
    height: 52px;
  }
}
@media (max-width: 550px) {
  .gmCnzC.header {
    width: 132px;
    height: 30px;
  }
}
data-styled.g1[id="sc-feb788d7-0"] {
  content: "gmCnzC,";
}
.erzWvU {
  position: relative;
  width: 100%;
  height: 100%;
}
data-styled.g2[id="sc-feb788d7-1"] {
  content: "erzWvU,";
}
.kgiRzq {
  position: absolute;
  background-color: #f1efed;
  min-width: 22.22vw;
  top: 100%;
  z-index: 3;
  right: 0px;
  border: 1px solid #000;
  border-right: 2.5px solid #000;
  border-bottom: 12px solid #000;
  display: none;
}
.kgiRzq.open {
  display: block;
}
.kgiRzq div {
  color: #000;
  font-family: "NAMU", sans-serif;
  font-size: 1em;
  border-bottom: 1px solid #8f8e93;
  -webkit-text-decoration: none;
  text-decoration: none;
  text-align: left;
  cursor: pointer;
}
.kgiRzq div:hover {
  background-color: #f8f7f5;
}
.kgiRzq div:last-child {
  border-bottom: 0;
}
.kgiRzq a {
  padding: 10px 16px;
}
data-styled.g3[id="sc-16b52c14-0"] {
  content: "kgiRzq,";
}
.irvpsA {
  cursor: pointer;
  color: #000;
  background-color: #f1efed;
  box-sizing: border-box;
  font-family: "NAMU", sans-serif;
  font-size: 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-column-gap: 12px;
  column-gap: 12px;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-bottom: 0;
  border-right: 0;
  border-left: 1px solid #8f8e93 !important;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  padding: 0 68px;
}
.irvpsA button,
.irvpsA:first-child {
  border: none;
}
@media (max-width: 768px) {
  .irvpsA {
    display: none;
  }
}
@media (min-width: 769px) and (max-width: 992px) {
  .irvpsA {
    font-size: 1.3em;
  }
}
@media (max-width: 768px) {
  .irvpsA {
    display: none;
  }
}
.irvpsA:hover {
  border-right: 2px solid #000 !important;
  border-bottom: 7px solid #000 !important;
}
.irvpsA:hover .sc-16b52c14-1.open {
  border-bottom: 0 !important;
  border-right: 2px solid #000 !important;
}
.irvpsA.open {
  border-bottom: 0 !important;
  border-right: 0px solid #000 !important;
}
.irvpsA.open img {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
.irvpsA.disabled {
  cursor: default;
}
.irvpsA.disabled:hover {
  border-right: 0;
  border-bottom: 0;
}
.irvpsA > img,
.irvpsA > span {
  vertical-align: middle;
}
.irvpsA img {
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  margin-top: 3px;
  width: 12px;
  height: 6.67px;
}
@media (max-width: 1600px) {
  .irvpsA {
    padding: 0 42px;
    -webkit-column-gap: 10px;
    column-gap: 10px;
    font-size: 16px;
  }
  .irvpsA > img {
    width: 9px;
    height: 5px;
  }
}
@media (max-width: 1200px) {
  .irvpsA {
    padding: 0px 27px;
  }
}
@media (max-width: 992px) {
  .irvpsA {
    padding: 0px 20px;
  }
}
@media (min-width: 769px) and (max-width: 1200px) {
  .irvpsA {
    font-size: 14px;
  }
}
data-styled.g4[id="sc-16b52c14-1"] {
  content: "irvpsA,";
}
.hHvuce {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  background-color: #f1efed;
}
data-styled.g5[id="sc-16b52c14-2"] {
  content: "hHvuce,";
}
.iejRVt {
  display: block;
  width: 100%;
}
data-styled.g6[id="sc-16b52c14-3"] {
  content: "iejRVt,";
}
.elgnRm {
  background: #5869dd;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center !important;
  -webkit-box-align: center !important;
  -ms-flex-align: center !important;
  align-items: center !important;
  gap: 6px;
  padding: 4px 6px;
  margin-left: 8px;
  border-radius: 6px;
}
.elgnRm span {
  font-size: 14px;
  font-weight: 900;
  color: #fff;
  margin-bottom: 4px;
}
.elgnRm:hover {
  background: #5869dd !important;
}
data-styled.g7[id="sc-16b52c14-4"] {
  content: "elgnRm,";
}
.dnuOfe {
  display: none;
}
@media (max-width: 768px) {
  .dnuOfe {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    z-index: 36;
    padding-right: 40px;
  }
}
@media (max-width: 550px) {
  .dnuOfe {
    padding-right: 20px;
  }
}
data-styled.g18[id="sc-942ab72b-3"] {
  content: "dnuOfe,";
}
.cXoWrt {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: flex-end;
  -webkit-box-align: flex-end;
  -ms-flex-align: flex-end;
  align-items: flex-end;
  -webkit-box-pack: space-around;
  -webkit-justify-content: space-around;
  -ms-flex-pack: space-around;
  justify-content: space-around;
  height: 25px;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  z-index: 10;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
}
.cXoWrt:focus {
  outline: none;
}
@media (max-width: 550px) {
  .cXoWrt {
    height: 14px;
  }
}
.cXoWrt div {
  width: 64px;
  height: 3px;
  background: #0c1033;
  border-radius: 10px;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  position: relative;
  -webkit-transform-origin: 100% 50%;
  -ms-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
}
@media (max-width: 550px) {
  .cXoWrt div {
    width: 34px;
    height: 2.2px;
  }
}
.cXoWrt div:nth-child(2) {
  width: 41px;
}
@media (max-width: 550px) {
  .cXoWrt div:nth-child(2) {
    width: 23px;
  }
}
data-styled.g19[id="sc-942ab72b-4"] {
  content: "cXoWrt,";
}
.hYEXCu {
  padding-bottom: 56px;
}
@media (min-width: 1800px) {
  .hYEXCu {
    padding-bottom: 70px;
  }
}
@media (max-width: 768px) {
  .hYEXCu {
    padding-bottom: 156px;
  }
}
@media (max-width: 550px) {
  .hYEXCu {
    padding-bottom: 95px;
  }
}
@media (min-width: 769px) and (max-width: 1200px) {
  .hYEXCu {
    padding-bottom: 43px;
  }
}
@media print {
  .hYEXCu {
    display: none;
  }
}
data-styled.g31[id="sc-1c6e7200-0"] {
  content: "hYEXCu,";
}
.ccyimB {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: fixed;
  right: 0;
  top: -1px;
  z-index: 36;
  background-color: #f1efed;
  border-bottom: 1px solid #8f8e93;
}
@media (max-width: 768px) {
  .ccyimB {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    border: none;
  }
}
@supports (-webkit-hyphens: none) {
  @media (max-width: 768px) {
    .ccyimB {
      top: -1px;
    }
  }
}
data-styled.g32[id="sc-1c6e7200-1"] {
  content: "ccyimB,";
}
.koXNTb {
  padding-top: 1px;
}
@media (max-width: 768px) {
  .koXNTb {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    background-color: #f1efed;
    z-index: 36;
    padding: 57.5px 0;
  }
  .koXNTb.scrolled {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
}
@media (max-width: 550px) {
  .koXNTb {
    padding: 32px 0;
  }
}
data-styled.g33[id="sc-1c6e7200-2"] {
  content: "koXNTb,";
}
.gJUEHi {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-column-gap: 8px;
  column-gap: 8px;
  border-right: 1px solid #8f8e93;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  z-index: 36;
  height: 100%;
  padding: 0 49px 0 68px;
}
.gJUEHi:hover {
  border-right: 1.5px solid #000;
  border-bottom: 7px solid #000;
}
@media (max-width: 1600px) {
  .gJUEHi {
    padding: 0 36px 0 49px;
  }
}
@media (max-width: 768px) {
  .gJUEHi {
    padding: 0 0 0 40px;
    height: 52px;
    border: none;
  }
  .gJUEHi:hover {
    border: none;
  }
}
@media (max-width: 550px) {
  .gJUEHi {
    padding-left: 20px;
    height: 30px;
  }
}
data-styled.g34[id="sc-1c6e7200-3"] {
  content: "gJUEHi,";
}
.IziRp {
  font-family: "NAMU", sans-serif;
  font-weight: 500;
  font-size: 1.3em;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 0 68px;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-left: 1px solid #8f8e93;
  cursor: pointer;
  -webkit-transition: 300ms;
  transition: 300ms;
}
@media (min-width: 769px) and (max-width: 992px) {
  .IziRp {
    font-size: 1.3em;
    padding: 0.5rem 2.5rem;
  }
}
@media (max-width: 768px) {
  .IziRp {
    display: none;
  }
}
@media (max-width: 1500px) {
  .IziRp.itSupport {
    padding: 0 36px 0 67px;
  }
}
@media (min-width: 769px) and (max-width: 830px) {
  .IziRp {
    width: 11.15vw;
  }
}
@media (min-width: 1800px) {
  .IziRp {
    padding: 23px 68px;
    font-size: 20px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
}
@media (max-width: 1600px) {
  .IziRp {
    padding: 0px 50px;
    font-size: 16px;
  }
}
@media (max-width: 1200px) {
  .IziRp {
    padding: 0px 35px;
  }
}
@media (max-width: 992px) {
  .IziRp {
    padding: 0px 28px;
  }
}
.IziRp:hover {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border-right: 1.5px solid #000;
  border-bottom: 7px solid #000;
}
.IziRp.disabled {
  cursor: default;
  opacity: 0.5;
}
.IziRp.disabled:hover {
  border-right: 0;
  border-bottom: 0;
}
data-styled.g35[id="sc-1c6e7200-4"] {
  content: "IziRp,";
}
.fXeVZC {
  margin: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 76px;
  padding-top: 1px;
  padding-left: 0;
}
@media (max-width: 1500px) {
  .fXeVZC.itSupport {
    margin-right: 0;
  }
  .fXeVZC.itSupport > a:nth-child(1) {
    padding: 0 43px 0 46px;
  }
}
@media (max-width: 1600px) {
  .fXeVZC {
    height: 57px;
  }
}
@media (max-width: 768px) {
  .fXeVZC {
    display: none;
  }
}
@media (max-width: 1500px) {
  .fXeVZC.mobileAudit > a:nth-child(1) {
    padding-left: 44px;
    padding-right: 44px;
  }
  .fXeVZC.mobileAudit > div:nth-child(2) button {
    padding-left: 40px;
    padding-right: 40px;
  }
}
@media (min-width: 769px) and (max-width: 1200px) {
  .fXeVZC {
    height: 43px;
  }
}
data-styled.g36[id="sc-1c6e7200-5"] {
  content: "fXeVZC,";
}
.eGMqUE {
  font-size: 20px;
}
@media (max-width: 1600px) {
  .eGMqUE {
    font-size: 16px;
  }
}
@media (min-width: 769px) and (max-width: 1200px) {
  .eGMqUE {
    font-size: 14px;
  }
}
data-styled.g37[id="sc-1c6e7200-6"] {
  content: "eGMqUE,";
}
.irfgMJ {
  font-family: inherit;
  font-size: 1.55em;
  padding: 18px 35px;
  cursor: pointer;
  position: relative;
  color: #fff;
  background-color: #000;
  line-height: 99%;
  display: inline-block;
  border: 2px solid #000;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  white-space: nowrap;
}
.irfgMJ.mouseBtn {
  position: absolute;
  top: 300px;
  left: 135px;
  z-index: 5;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
}
.irfgMJ.mouseBtn:hover {
  background-color: #000 !important;
  color: #fff !important;
  cursor: none;
}
.irfgMJ.homePage {
  font-size: 1.835em;
  padding: 16px 15.4px;
  font-weight: 400;
}
@media (min-width: 992px) and (max-width: 1200px) {
  .irfgMJ.homePage {
    padding: 12.76px 12.05px;
    font-size: 1.147em;
  }
}
.irfgMJ.homePageProject {
  left: 61px;
  bottom: -40px;
  opacity: 0;
  scale: 0.8;
  -webkit-transition: left 0.2s linear 0.5s, opacity 0.1s linear 0.1s,
    scale 0.2s ease-in 0.2s, bottom 0.3s ease-in 0.1s;
  transition: left 0.2s linear 0.5s, opacity 0.1s linear 0.1s,
    scale 0.2s ease-in 0.2s, bottom 0.3s ease-in 0.1s;
}
.irfgMJ.portfolio-button {
  font-size: 1.5em;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 0;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-width: 12.45em;
  height: 3.225em;
}
.irfgMJ.about-us {
  text-transform: uppercase;
  font-size: calc(
    clamp(22px, 22px + (100vw - 1440px) * ((30 - 22) / (1920 - 1440)), 30px)
  );
  padding: calc(
      clamp(
        18px,
        18px + (100vw - 1440px) * ((22.5 - 18) / (1920 - 1440)),
        22.5px
      )
    )
    calc(
      clamp(
        17px,
        17px + (100vw - 1440px) * ((21.1 - 17) / (1920 - 1440)),
        21.1px
      )
    );
  margin-right: calc(
    clamp(28px, 28px + (100vw - 1440px) * ((32 - 28) / (1920 - 1440)), 32px)
  );
}
.irfgMJ.ai,
.irfgMJ.cloudSolution,
.irfgMJ.webDev,
.irfgMJ.social-button {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: flex-start;
  -webkit-box-align: flex-start;
  -ms-flex-align: flex-start;
  align-items: flex-start;
  text-align: center;
  font-weight: 900;
  padding: 16px 15.4px;
  font-size: 1.375em;
  text-transform: uppercase;
}
.irfgMJ.mobileDev {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: flex-start;
  -webkit-box-align: flex-start;
  -ms-flex-align: flex-start;
  align-items: flex-start;
  text-align: center;
  font-weight: 900;
  padding: 16px 15.4px;
  font-size: 1.83333em;
  text-transform: uppercase;
}
.irfgMJ.services {
  font-size: 22px;
  padding: 16.5px 15.5px;
  text-transform: uppercase;
}
.irfgMJ.cta-button {
  padding: 16px 15px;
  font-family: "NAMU", sans-serif;
  font-weight: 900;
  font-size: 1.84em;
  text-transform: uppercase;
}
.irfgMJ.footer {
  margin-top: 10px;
  height: 4vw;
  margin-left: 20px;
}
.irfgMJ.footer-home {
  margin-top: 10px;
  height: 4vw;
  margin-left: 20px;
}
.irfgMJ.main {
  background: transparent;
  color: #000;
  background-size: 229px;
  -webkit-transition-delay: unset;
  transition-delay: unset;
  font-size: 1.835em;
  padding: 16px 15.4px;
  font-weight: 400;
}
.irfgMJ.scrolled {
  background: #000 url(/_next/static/media/buttonHoverBg.01d6ac22.webp);
  color: #fff;
  -webkit-transition-delay: 0.8s;
  transition-delay: 0.8s;
  background-size: 229px;
  -webkit-animation: cWmytL 1s steps(8) forwards;
  animation: cWmytL 1s steps(8) forwards;
  font-size: 1.835em;
  padding: 16px 15.4px;
  font-weight: 400;
}
.irfgMJ.scrolled.removeBg {
  -webkit-transition-delay: unset;
  transition-delay: unset;
  background-image: none;
}
.irfgMJ.projectorBtn {
  left: 0;
  scale: 1;
  opacity: 1;
  bottom: 0;
}
.irfgMJ:hover {
  -webkit-transition-delay: unset;
  transition-delay: unset;
  background: none;
  color: #000;
}
@media (min-width: 1800px) {
  .irfgMJ {
    padding: 0.8em 1em;
  }
  .irfgMJ.homePage,
  .irfgMJ.main,
  .irfgMJ.scrolled {
    padding: 0.757em 0.78em;
    font-size: 28px;
  }
  .irfgMJ.webDev {
    padding: 0.8em 1em;
  }
  .irfgMJ.cloudSolution {
    padding: 0.8em 1em;
    font-size: 1.58em;
  }
  .irfgMJ.ai,
  .irfgMJ.social-button {
    padding: 0.8em 1em;
    font-size: 1.83em;
  }
  .irfgMJ.mobileDev {
    padding: 0.8em 1em;
    font-size: 2.2em;
  }
  .irfgMJ.services {
    font-size: 28px;
    padding: 24.75px 23.25px;
  }
  .irfgMJ.seeAll {
    font-size: 1.25em;
    padding: 1.05em 1.8em !important;
  }
}
@media (max-width: 1200px) {
  .irfgMJ {
    font-size: 14px;
  }
}
@media (max-width: 992px) {
  .irfgMJ.seeAll,
  .irfgMJ.mobileDev,
  .irfgMJ.homePage,
  .irfgMJ.main,
  .irfgMJ.scrolled {
    font-size: 1.33em;
  }
  .irfgMJ.ai,
  .irfgMJ.cloudSolution,
  .irfgMJ.webDev {
    font-size: 1.13em;
  }
  .irfgMJ.social-button {
    font-size: 1.42em;
  }
}
@media (max-width: 768px) {
  .irfgMJ.main,
  .irfgMJ.scrolled {
    height: 54px;
    font-size: 16px;
  }
  .irfgMJ.about-us {
    font-size: calc(
      clamp(16px, 16px + (100vw - 375px) * ((22 - 16) / (768 - 375)), 22px)
    );
    line-height: 100%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    padding: 16.5px
      calc(
        clamp(
          15.5px,
          16.5px - (100vw - 375px) * ((16.5 - 15.5) / (768 - 375)),
          16.5px
        )
      );
  }
  .irfgMJ.homeFooter {
    margin-top: 0;
    padding: 17.76px 33px;
  }
  .irfgMJ.homePage {
    height: 58px;
    font-size: 22px;
    padding: 18px 15px;
    z-index: 10;
  }
  .irfgMJ.portfolio-button {
    min-width: 178px;
    height: 54px;
    font-size: 16px;
  }
  .irfgMJ.ai,
  .irfgMJ.webDev,
  .irfgMJ.cloudSolution,
  .irfgMJ.social-button {
    padding: 17.1px 17.55px;
    font-size: 16px;
  }
  .irfgMJ.mobileDev {
    min-width: 209px;
    padding: 17.1px 17.55px;
    font-size: 16px;
  }
  .irfgMJ.cta-button {
    width: 178px;
    height: 54px;
    font-size: 16px;
    padding: 18px 33px;
  }
  .irfgMJ.seeAll {
    font-size: 14px;
  }
  .irfgMJ.footer-home {
    margin-top: 1em;
  }
  .irfgMJ.services {
    line-height: 99%;
    font-size: 22px;
    padding: 18px 17px;
  }
  .irfgMJ.services.sc-c8e937f7-1.header {
    padding: 17.5px 18px;
  }
}
@media (max-width: 625px) {
  .irfgMJ.seeAll > div {
    width: 25px;
    height: 25px;
  }
  .irfgMJ.homePage {
    height: 54px;
    font-size: 16px;
    padding: 17px 19px;
  }
  .irfgMJ.homeFooter {
    padding: 17.76px 31px;
  }
  .irfgMJ.services {
    padding: 17px 32px;
    font-size: 16px;
    padding: 18px 33px;
  }
}
.irfgMJ path:nth-child(1) {
  -webkit-transform: translate(-36px, 36px);
  -ms-transform: translate(-36px, 36px);
  transform: translate(-36px, 36px);
}
.irfgMJ:hover path:nth-child(1) {
  -webkit-animation: bMxOmO 1s 1 forwards ease-in-out;
  animation: bMxOmO 1s 1 forwards ease-in-out;
}
.irfgMJ:hover path:nth-child(2) {
  -webkit-animation: kIvojK 1s 1 forwards ease-in-out;
  animation: kIvojK 1s 1 forwards ease-in-out;
}
@media (min-width: 992px) and (max-width: 1200px) {
  .irfgMJ.homePage,
  .irfgMJ.seeAll {
    padding: 13.5px 12.75px;
    font-size: 1.18em;
  }
}
data-styled.g40[id="sc-c8e937f7-1"] {
  content: "irfgMJ,";
}
.eaEwWv {
  position: absolute;
  width: 30px;
  height: 30px;
  right: -12px;
  top: -12px;
  background-color: #f2ea86;
  border: 1.7px solid #000;
  border-radius: 50%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  overflow: hidden;
}
.eaEwWv svg {
  width: 25px;
  height: 25px;
}
.eaEwWv.contactPage {
  right: -13px;
  top: -16px;
}
@media (min-width: 2200px) {
  .eaEwWv {
    width: 45px;
    height: 45px;
    right: -17px;
    top: -17px;
  }
  .eaEwWv svg {
    width: 32px;
    height: 32px;
  }
}
@media (min-width: 1800px) {
  .eaEwWv {
    width: 40px;
    height: 40px;
    right: -15px;
    top: -15px;
  }
  .eaEwWv.contactPage {
    right: -15px;
    top: -20px;
  }
  .eaEwWv.mobileAudit {
    font-size: 1.5em;
  }
  .eaEwWv svg {
    width: 30px;
    height: 30px;
  }
}
@media (max-width: 768px) {
  .eaEwWv.contactPage {
    right: -13px;
    top: -13px;
  }
}
@media (max-width: 474px) {
  .eaEwWv {
    width: 24px;
    height: 24px;
    right: -9px;
    top: -9px;
  }
  .eaEwWv.contactPage {
    width: 25px;
    height: 25px;
    right: -10px;
    top: -13px;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  .eaEwWv {
    width: 27px;
    height: 27px;
  }
  .eaEwWv svg {
    width: 22px;
    height: 22px;
  }
}
data-styled.g53[id="sc-c8e937f7-14"] {
  content: "eaEwWv,";
}
.kvYjMb {
  padding-left: 30px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: space-around;
  -webkit-justify-content: space-around;
  -ms-flex-pack: space-around;
  justify-content: space-around;
  position: relative;
  -webkit-flex-wrap: no-wrap;
  -ms-flex-wrap: no-wrap;
  flex-wrap: no-wrap;
  height: 90vh;
  -webkit-column-gap: 5vw;
  column-gap: 5vw;
}
@media (min-width: 1500px) {
  .kvYjMb {
    -webkit-column-gap: 6.5vw;
    column-gap: 6.5vw;
  }
}
@media (max-width: 768px) {
  .kvYjMb {
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 50px 0;
  }
  .kvYjMb > div {
    width: 100%;
  }
}
@media (min-width: 769px) and (max-width: 992px) {
  .kvYjMb {
    padding-left: 0px;
  }
}
data-styled.g89[id="sc-cf2e28af-0"] {
  content: "kvYjMb,";
}
.jhJaFM {
  text-align: right;
  width: 45%;
}
@media (max-width: 768px) {
  .jhJaFM {
    text-align: left;
  }
}
data-styled.g90[id="sc-cf2e28af-1"] {
  content: "jhJaFM,";
}
.ckEtXM {
  font-family: "Press Start 2P", cursive;
  font-size: 2.8em;
  -webkit-letter-spacing: 0.045em;
  -moz-letter-spacing: 0.045em;
  -ms-letter-spacing: 0.045em;
  letter-spacing: 0.045em;
  line-height: 182%;
  text-transform: uppercase;
  text-shadow: -0.5px -0.5px 0 #000, 0.5px -0.5px 0 #000, -0.5px 0.5px 0 #000,
    0.5px 0.5px 0 #000;
  margin-bottom: 50px;
}
@media (max-width: 1200px) {
  .ckEtXM {
    font-size: 1.8em;
  }
}
data-styled.g91[id="sc-cf2e28af-2"] {
  content: "ckEtXM,";
}
@media (max-width: 1200px) {
  .jsZmXQ {
    width: 90%;
  }
}
@media (max-width: 768px) {
  .jsZmXQ {
    width: 70%;
    margin-bottom: 50px;
  }
}
@media (max-width: 550px) {
  .jsZmXQ {
    width: 60%;
  }
}
@media (max-width: 400px) {
  .jsZmXQ {
    width: 70%;
  }
}
data-styled.g92[id="sc-cf2e28af-3"] {
  content: "jsZmXQ,";
}
.kRtKVw {
  width: 55%;
}
.kRtKVw > a {
  text-transform: uppercase;
}
data-styled.g93[id="sc-cf2e28af-4"] {
  content: "kRtKVw,";
}
.gSVfZX {
  width: 100%;
  margin: 0 auto;
  position: relative;
  padding-inline: 4.25em;
  overflow: hidden;
  font-family: "NAMU", sans-serif;
}
@media (min-width: 2560px) {
  .gSVfZX {
    max-width: 2560px;
    margin: 0 auto;
  }
}
@media (max-width: 768px) {
  .gSVfZX {
    padding: 0 40px;
  }
}
@media (max-width: 625px) {
  .gSVfZX {
    padding: 0 20px;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  .gSVfZX {
    padding: 0 40px;
  }
}
data-styled.g94[id="sc-6b8ccf62-0"] {
  content: "gSVfZX,";
}
@-webkit-keyframes cWmytL {
  from {
    background-position-y: 0;
  }
  to {
    background-position-y: -600px;
  }
}
@keyframes cWmytL {
  from {
    background-position-y: 0;
  }
  to {
    background-position-y: -600px;
  }
}
data-styled.g1771[id="sc-keyframes-cWmytL"] {
  content: "cWmytL,";
}
@-webkit-keyframes bMxOmO {
  0% {
    -webkit-transform: translate(-36px, 36px);
    -ms-transform: translate(-36px, 36px);
    transform: translate(-36px, 36px);
  }
  100% {
    -webkit-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
  }
}
@keyframes bMxOmO {
  0% {
    -webkit-transform: translate(-36px, 36px);
    -ms-transform: translate(-36px, 36px);
    transform: translate(-36px, 36px);
  }
  100% {
    -webkit-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
  }
}
data-styled.g1772[id="sc-keyframes-bMxOmO"] {
  content: "bMxOmO,";
}
@-webkit-keyframes kIvojK {
  0% {
    -webkit-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
  }
  100% {
    -webkit-transform: translate(36px, -36px);
    -ms-transform: translate(36px, -36px);
    transform: translate(36px, -36px);
  }
}
@keyframes kIvojK {
  0% {
    -webkit-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
  }
  100% {
    -webkit-transform: translate(36px, -36px);
    -ms-transform: translate(36px, -36px);
    transform: translate(36px, -36px);
  }
}
data-styled.g1773[id="sc-keyframes-kIvojK"] {
  content: "kIvojK,";
}

